.navbar {
  background-color: aquamarine;
  display: flex;
  font-size: var(--small-size);
  justify-content: space-between;
  padding: 1rem;
}

.navbar--logo,
.navbar--list,
.navbar--item {
  display: flex;
  font-size: var(--extra-small-size);
  align-items: center;
}
