* {
  box-sizing: border-box;
  list-style: none;
  /* font-size: 62.5%; */
  margin: 0;
  padding: 0;
  text-decoration: none;
}
::selection {
  background-color: red;
  color: white;
}

:root {
  /* --mid-size: 2.8rem; */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
